.wishlist{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wishlist-title{
    display:grid;
grid-template-columns:
20px
3fr
150px
150px
180px
220px;
width: 100%;
border: 2px solid;
padding:  0 10px;
box-sizing: border-box;

}
.product-detial{
display:flex;
align-items: center;
margin: 0 10px;
}

.wishlist-product{
        display:grid;
   grid-template-columns: 4fr 150px 150px 180px 220px;
    align-items: center;
    width: 100%;
    border:2px solid
}

img{
    width:20%
}
.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}


.wishlist-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}





