.wishlist{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wishlist-title{
    display:grid;
grid-template-columns:
50px
3fr
150px
150px
180px
220px;
width: 100%;
border: 2px solid;
padding:  0 10px;
box-sizing: border-box;

}

.wishlist-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    border:2px solid
}

img{
    width:10%
}