html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.banner {
  border-radius: 16px;
  align-content: center;
  width: min(95%, 1200px);
  margin: 0 auto;
  background-color: #fff2db;
  color: #787272;
  box-shadow: 15px 10px 10px rgb(167, 164, 164);
  position: relative;
}
@media(max-width:767px){
  .banner{
    width:95%;
    min-height: 700px;
  }
}

.discount-box {
  display: flex;
  align-items: center;
  min-height: 50rem;
  border-radius: 16px;
}
@media(max-width:767px){
.discount-box{
flex-direction: column;
}
.discount-title{
  order: 1;
}
.product-img{
  order: 2;
  width: 100%;
}

.buttons{
  order: 3;
}

.stand{
height: 300px;
width: 100%;
}

}

.discount-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  font-weight: lighter;
}
.discount-title span {
  font-size: 2rem;
  align-self: flex-start;
  color: #24b1b1;
}
.discount-title h1 {
  font-size: 5rem;
  font-weight: bold;
  color: black;
}
.discount-title p {
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 3rem;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 4rem;
  font-size: 1.5em;
  font-weight: bold;
  margin: 3rem;
}
.shop-btn {
  font-size: 2rem;
  border: none;
  border-radius: 16px;
  padding: 1.5rem;
  background-color: #ffe5bf;
  color: black;
  width: 15rem;
  box-shadow: 5px 5px 5px gray;
  transition: 0.3s;
}
.explore-btn {
  font-size: 2rem;
  border: none;
  border-radius: 16px;
  padding: 1.5rem;
  background-color: #24b1b1;
  color: black;
  box-shadow: 5px 5px 5px gray;
}

.explore-btn:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.product-img {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.stand {
  width: 100%;
  height: 500px;
}

.sneaker-img {
  width: clamp(80px, 18%, 180px);
  position: absolute;
  bottom: 27%;
  right: 57%;
  transform: rotate(-10deg);
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.15));
}

.watch-img {
  width: clamp(120px, 28%, 260px);
  position: absolute;
  bottom: 39%;
  right: 23%;
  transform: rotate(-10deg);
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.15));
}
.headphone-img {
  width: clamp(90px, 18%, 170px);
  position: absolute;
  top: 11%;
  right: 46%;
  transform: rotate(-10deg);
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.15));
}
.handbags-img {
  width: clamp(140px, 31%, 300px);
  position: absolute;
  top: 34%;
  right: 29.75%;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.15));
}

.slids {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  display: flex;
  gap: 2rem;
}
.slids button {
  background: none;
  color: blue;
  height: 0.6rem;
  width: 5rem;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.slids button:hover {
  background-color: #24b1b1;
}
.slids button:focus {
  background-color: #3a8484;
  padding-bottom: 3px;
}









