.product-details{
    display: grid;
    grid-template-columns:200px 1fr 1fr 
}

.imges-slide{
    
}








.product-details-img{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail-img{
    width: 100%;
}


.products-informations-deals{
    display:grid;
    grid-template-columns: 100px 100px ;
    font-size: 15px;
    row-gap: 20px;
}
